.card-group img{
  height: 300px;
  }

table{
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'arial';
  width: 100%;
}

table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: #FFF;
}

table tr:nth-child(odd){
  background: #FFF;
}
table td{
  padding: 10px;
}

.edit{
  color: #0ca4ce;
}
.delete{
  color: #f26b6b;
}