.card-group img{
  height: 300px;
  }

table{
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'arial';
  width: 100%;
}

table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: #FFF;
}

table tr:nth-child(odd){
  background: #FFF;
}

table td{
  padding: 10px;
}

.edit{
  color: #0ca4ce;
}

.delete{
  color: #f26b6b;
}

.gen{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.titol{
  margin-top: 15px;
  margin-left: 15px;
}

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}

.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; 
}

.jumbotron small {
color: #FFF;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 40px;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.up-button {
  display:none;
  padding:20px;
  background:#024959;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}